@import '../../styles/variables';

.container {
  width: 1200px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
}
.wrapper {
  padding:24px 0;
}
.nav__link {
  display: flex;
  align-items: center;
  gap:48px;
  li {
    list-style: none;
  }
  a {
    font-size: 14px;
    color: $primary-color;
    text-decoration: none;
  }
  img {
    width: 48px;
    height: 48px;
  }
}